body {
    font-family: Arial;
}
body .AllContentWrapper .login {
    background-color: #2f2e2d;
    font-size: 1em;
    color: #fafdf0;
    border: medium solid #efed34;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 10em;
    padding-left: 40em;
    padding-bottom: 2em;
}
