body {
    font-family: Arial;
    font-size: 150%;
    background-image: url(background.jpg);
    color: #fafef9;
    text-align: center;
}
body .AllContendWrapper .TopContendWrapper .NavigationWrapper ol {
    list-style-type: none;
    display: inline;
}
